# Webscrapping API
WEBSCRAPPING_API_URL="webscrapping api url here"

# Pipeline orchestrator
PREFECT_SERVER_URL="prefect server api url here"
DATABASE_URL="mysql+pymysql://user:password@host:3306/database"
SCRAPYD_URL="scrapyd url here"

# AWS
AWS_ACCESS_KEY_ID="your_access_key"
AWS_SECRET_ACCESS_KEY="your_secret_key"
AWS_DEFAULT_REGION="your_aws_region"
AWS_REGION="your_aws_region"
S3_BUCKET_NAME="urban-ai-data"
ASSUME_ROLE_ARN=""
ASSUME_ROLE_EXTERNAL_ID=""
